@import "@{templateCommon}/basekit-bootstrap.less";


/* ===============================
   TEMPLATE STYLES
   =============================== */

body {
  background-image: image('/images/texture.png');
  background-color: @color-swatch3;
  margin: 0;
  padding: 0;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 95%; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}

/* ===============================
   CUSTOM CSS
   =============================== */

.canvas { 
  background-color: #ffffff;
  max-width: 1010px;
  margin: 20px auto;
  padding: 20px;
}

.inner-bg {
  margin: 0 auto;
  border: 3px solid lighten(@color-swatch3,25%);
}

.main {
  padding: 20px 0;
}


/* ===============================
   HEADER
   =============================== */

header.bk-header {
  padding: 10px 0;
  width: 100%;
  margin: 0 auto;
}

.companyheader {
  display: block;
  float: left;
}

/* COMPANY NAME */

.widget.companyname {
  display: block;
  float: left;
  margin-top: 18px;
}

/* LOGO */

.widget.logo {
  display: block;
  padding: 10px 10px 10px 0;
  float: left;
}

.widget.companyheader .logo-bottom {
  display: none;
}

.widget.companyheader .company-name {
  display: block;
  margin-top: 6px;
}

/* ===============================
   FOOTER
   =============================== */

footer.bk-footer {
  padding: 4em 0;
  background-color: lighten(@color-swatch3,25%);
  opacity: 0.9;
  min-height: 150px;
}

footer.bk-footer p {
  font-family: @font-swatch5-font-family;
  padding-bottom: 5px;
}

footer.bk-footer .widget.content {
  padding: 0 0 5px;
}

/* ===============================
   EXTENDED NAVIGATION
   =============================== */

.widget.extendednavigation {
  float: right;
  position: relative;
  background-color: transparent;
}

.widget.extendednavigation ul {
  float: left;
  padding: 0;
  margin: 0;
}

.widget.extendednavigation ul li {
  float: left;
  display: block;
  padding: 26px 0 20px 0;
}

.widget.extendednavigation ul li.folder {
    display: block;
    background-image: image('/images/arrow-down.png');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 10px;
    cursor: pointer;
    &:after {
        display: none;
    }
}

.widget.extendednavigation ul li.folder:hover {
  background-image: image('/images/arrow-down-hov.png');
  color: @font-swatch6-color-hover;
}


.widget.extendednavigation ul li a, .widget.extendednavigation ul li.folder .text {
  display: block;
  padding: 1px 17px;
  font-family:@font-swatch6-font-family;
  font-size:@font-swatch6-font-size;
  font-weight: @font-swatch6-font-weight;
  color: @font-swatch6-color;
  line-height:@font-swatch6-line-height;
  letter-spacing: @font-swatch6-letter-spacing;
  
}

.widget.extendednavigation ul li.folder .text:hover {
  color: @font-swatch6-color-hover;
}

.widget.extendednavigation ul li a:hover {
  text-decoration: none;
  color: @font-swatch6-color-hover;

}

.widget.extendednavigation ul li.folder {
  padding-right: 8px;
  height: 100%;
  cursor: pointer;
}

.widget.extendednavigation li > ul {
  display: none;
  background-color: @color-swatch1;
}

.widget.extendednavigation li:hover > ul {
  display: block;
  width: 50%;
  position: absolute;
  background-color: @color-swatch1;
  border: 1px solid lighten(@color-swatch3,25%);
  z-index: 500;
  margin-top: 20px;
}

.widget.extendednavigation li:hover > ul > li {
  display: block;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid lighten(@color-swatch3,25%);
  padding: 10px 0;
}

.widget.extendednavigation li:hover > ul > li:hover {
  background-color: @color-swatch1;
}

.widget.extendednavigation li:hover > ul > li:last-child {
  border-bottom: none;
}

.widget.extendednavigation li:hover > ul > li > a {
  display: block;
  background-image: none;
  color: @font-swatch6-color;
  margin-left: 0;
  padding:0;
}

.widget.extendednavigation li:hover > ul > li > a .text {
  margin-left: 0;
}


/* ===============================
   FEATURE
   =============================== */

.widget.feature .feature-bgimg {
    height: 500px;
    @media @tablet {
        height: 400px;
    }
    @media @mobile {
        height: 250px;
    }
}

.widget.feature .feature-bgimg .content {
    text-align: right;
    height: 500px;
    @media @tablet {
        height: 400px;
    }
    @media @mobile {
        height: 250px;
    }
    h2 {
        padding-bottom: 4px;
        font-family:@font-swatch8-font-family;
        font-size:@font-swatch8-font-size;
        font-weight: @font-swatch8-font-weight;
        line-height:@font-swatch8-line-height;
        color: @font-swatch8-color;
        letter-spacing: @font-swatch8-letter-spacing;
        @media @tablet {
            font-size: bkscale(@font-swatch8-font-size,0.8);
            span {
                padding: 10px;
            }
        }
        @media @mobile {
            font-size: bkscale(@font-swatch8-font-size,0.75);
            span {
                padding: 3px 7px;
            }
        }
    }
    h3 {
        padding-bottom: 4px;
        font-family:@font-swatch9-font-family;
        font-size:@font-swatch9-font-size;
        font-weight: @font-swatch9-font-weight;
        line-height:@font-swatch9-line-height;
        color: @font-swatch9-color;
        letter-spacing: @font-swatch9-letter-spacing;
        @media @tablet {
            font-size: bkscale(@font-swatch9-font-size,0.8);
            span {
                padding: 10px;
            }
        }
        @media @mobile {
            font-size: bkscale(@font-swatch9-font-size,0.55);
            span {
                padding: 3px 7px;
            }
        }
    }
    button {
        margin: 0;
        padding: 12px 20px;
        border: 0;
        font-family: @font-swatch7-font-family;
        font-weight:@font-swatch7-font-weight;
        font-size: @font-swatch7-font-size;
        background-color: @font-swatch7-background-color;
        color: @font-swatch7-color;
        letter-spacing: @font-swatch7-letter-spacing;
        text-decoration: none;
        &:hover {
            background-color: @font-swatch7-background-color-hover;
            cursor: pointer;
        }
        @media @mobile {
            font-size: bkscale(@font-swatch7-font-size,0.8);
            padding: 3px 6px;
        }
    }
    .spare {
        margin: 0;
        width: 100%;
    }
}

/* FEATURE TITLE */

.widget.feature h2 span, .widget.feature h3 span {
    display: inline-block;
    padding: 15px;
    background-color: hsla(hue(@color-swatch1), saturation(@color-swatch1), lightness(lighten(@color-swatch1,10%)), 0.6); 
}


/* ===============================
   PAYPAL BUTTON
   =============================== */


.widget.paypalbuynow .widget.button.paypal {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* ===============================
   DROPBOX WIDGET
   =============================== */

.widget.dropbox .b-wrap .btn {
  padding: 13px 12px 11px 38px;
  
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-position: 11px center;
}

/* ===============================
   BUTTON CSS
   =============================== */


.widget.button button {
  padding: 12px;
  border: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-family: @font-swatch7-font-family;
  font-size: @font-swatch7-font-size;
  font-weight:@font-swatch7-font-weight;
  background: @font-swatch7-background-color;
  color: @font-swatch7-color;
  text-decoration: none;
  
  cursor: pointer;
}

.widget.button button:hover {
  background: @font-swatch7-background-color-hover;
}


/* ===============================
   CLICK TO CALL WIDGET
   =============================== */


.widget.clicktocall {
  padding: 10px 0;
}

.widget.clicktocall a {
  background-image: image('/images/ic-desktop-call.png');
  background-position: left 8px;
  background-repeat:no-repeat;
  padding: 10px 10px 10px 24px;
  margin: 2.2em auto;
  font-family: @font-swatch5-font-family;
  font-size: @font-swatch5-font-size;
  font-weight:@font-swatch5-font-weight;
  color: @font-swatch5-color;
  text-decoration: none;
  cursor: default;
}


/* ===============================
   TWITTER WIDGET
   =============================== */


.widget.twitter {
}

.widget.twitter a {
 color: @color-swatch4;
 font-size:@font-swatch5-font-size;
 text-decoration: none;
}

.widget.twitter a:hover {
  text-decoration: none;
}

.widget.twitter ul {
  padding: 20px 0;
  margin: 0;
}

.widget.twitter ul li {
  border-bottom: none;
  list-style: none;
  font-family: @font-swatch5-font-family;
  font-size: @font-swatch5-font-size;
  color: @font-swatch5-color;
  padding: 30px 0;
  border-bottom: 1px dotted lighten(@color-swatch5,25%);
}

.widget.twitter ul li:last-child {
  padding-bottom: 30px;
}

.widget.twitter .twitter-profile-pic {
  float: left;
  padding-right: 15px;
}

.widget.twitter .twitter-content span.bk-full-name {
  font-family: @font-swatch4-font-family;
  font-size: @font-swatch5-font-size;
  color: lighten(@color-swatch5,15%);
  
}

.widget.twitter .twitter-content p {
  padding: 0;
  color: @color-swatch5;
}

.widget.twitter .twitter-content span, .widget.twitter .twitter-content time {
 color: lighten(@color-swatch3,15%);
}

.widget.twitter .twitter-content span a {
 color: lighten(@color-swatch3,15%);
 text-decoration: underline;

}
.widget.twitter .twitter-content span a:hover {
   color: @color-swatch3;
}

/* ===============================
   CONTACT FORM WIDGET
   =============================== */

.widget.contactform form {
    display: block;
}

.widget.contactform fieldset {
    border: none;
    padding: 0;
}

.widget.contactform fieldset label {
    width: 100%;
    float: left;
    font-family:@font-swatch5-font-family;
    font-size:@font-swatch5-font-size;
    font-weight:@font-swatch5-font-weight;
    line-height:@font-swatch5-line-height;
    color:@font-swatch5-color;
    letter-spacing: @font-swatch5-letter-spacing;
}

.widget.contactform fieldset input {
    height: 40px;
    width: 100%;
    border: none;
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    background-color: lighten(@color-swatch2,80%);
    text-indent: 8px;
    margin-top: 6px;
    margin-bottom: 30px;
    padding: 0;
}

.widget.contactform fieldset input:focus {
    outline: none;
    box-shadow: 0 0 5px @color-swatch5;
}

.widget.contactform fieldset textarea {
    height: 100px;
    width: 100%;
    border: none;
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    background-color: lighten(@color-swatch2,80%);
    text-indent: 8px;
    padding-top: 14px;
    margin-top: 6px;
    margin-bottom: 20px;
    resize: none;
    padding: 0;
}

.widget.contactform fieldset textarea:focus {
    outline: none;
    box-shadow: 0 0 5px @color-swatch5;
}

.widget.contactform fieldset button.btn {
    padding: 12px;
    margin: 0;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: @font-swatch7-font-family;
    font-size: @font-swatch7-font-size;
    font-weight:@font-swatch7-font-weight;
    background: @font-swatch7-background-color;
    color: @font-swatch7-color;
    
    text-decoration: none;
    float: right;
}
  
.widget.contactform fieldset button.btn:hover {
  background-color: @font-swatch7-background-color-hover;
  cursor: pointer;
}


/* ===============================
   SIGNUPFORM WIDGET
   =============================== */

 .widget.signupform {
    display: block;
}

.widget.signupform fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.widget.signupform fieldset label {
    width: 100%;
    float: left;
    font-family:@font-swatch5-font-family;
    font-size:@font-swatch5-font-size;
    font-weight:@font-swatch5-font-weight;
    line-height:@font-swatch5-line-height;
    color:@font-swatch5-color;
    letter-spacing: @font-swatch5-letter-spacing;
}

.widget.signupform fieldset input {
    height: 40px;
    width: 66%;
    float: left;
    border: none;
    background-color: lighten(@color-swatch2,80%);
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    margin-bottom: 20px;
    text-indent: 8px;
    float:left;
    padding: 0;
}

.widget.signupform fieldset input:focus {
    outline: none;
    box-shadow: 0 0 5px @color-swatch5;
}

.widget.signupform fieldset button.btn {
    padding: 12px 0;
    text-align: center;
    width: 32%;
    float: right;
    margin-top: 5px;
    margin: 0;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: @font-swatch7-font-family;
    font-size: @font-swatch7-font-size;
    font-weight:@font-swatch7-font-weight;
    background-color: @font-swatch7-background-color;
    color: @font-swatch7-color;
    text-decoration: none;
    
    cursor: pointer;
}

.widget.signupform fieldset button.btn:hover {
    background-color: @font-swatch7-background-color-hover;
}


/* ===============================
   PROFILE WIDGET
   =============================== */

.widget.profile span {
  display: block;
  font-family: @font-swatch5-font-family;
  font-size: @font-swatch5-font-size;
  line-height: @font-swatch5-line-height;
  color: @font-swatch5-color;
}

.widget {
    &.profile,
    &.socialicons {
        .bk-profile-socialicons,
        .icons {
            span {
                display: inline-block;
                a {
                    display: inline-block;
                    background-color: lighten(@color-swatch2,15%);
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                }
            }
        }
    }
}

.widget.profile a {
  color: @color-swatch5;
}

.widget.profile a:hover {
  color: darken(@color-swatch5,15%);
  text-decoration: none !important;
}


/* LATEST TWEET */

.widget.profile .widget.twitter a {
 color: @color-swatch4;
 font-size:@font-swatch5-font-size;
 text-decoration: none;
}

.widget.profile a:hover {
  text-decoration: none;
}

.widget.profile ul {
  padding: 0;
  margin: 0;
}

.widget.profile ul li {
  border-bottom: none;
  list-style: none;
  font-family: @font-swatch5-font-family;
  font-size: @font-swatch5-font-size;
  color: @font-swatch5-color;
}

.widget.profile .twitter-profile-pic {
  display: none;
}

.widget.profile .twitter-content span.bk-full-name {
  font-family: @font-swatch4-font-family;
  font-size: @font-swatch5-font-size;
  color: darken(@color-swatch5,20%);
  
}

.widget.profile .twitter-content p {
  padding: 0;
  color: @color-swatch5;
}

.widget.profile .twitter-content span, .widget.profile .twitter-content time {
 color: lighten(@color-swatch3,5%);
}

.widget.profile .twitter-content span a {
 color: lighten(@color-swatch3,5%);
 text-decoration: underline;

}
.widget.profile.twitter-content span a:hover {
   color: @color-swatch3;
}

footer.bk-footer .widget.profile .twitter span {
  display: inline;
}


/* ===============================
   SOCIAL BAR WIDGET
   =============================== */

/* SINGLE EMAIL FORM IN FOOTER */

.widget.profile fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.widget.profile fieldset label {
    width: 100%;
    float: left;
    font-family:@font-swatch5-font-family;
    font-size:@font-swatch5-font-size;
    font-weight:@font-swatch5-font-weight;
    line-height:@font-swatch5-line-height;
    color:@font-swatch5-color;
    letter-spacing: @font-swatch5-letter-spacing;
    margin-bottom: 7px;
}

.widget.profile fieldset input {
    height: 41px;
    width: 100%;
    float: left;
    border: none;
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    background-color: lighten(@color-swatch2,80%);
    margin-bottom: 15px;
    text-indent: 8px;
    float:left;
    padding: 0;
}

.widget.profile fieldset input:focus {
    outline: none;
    box-shadow: 0 0 5px @color-swatch5;
}

.widget.profile fieldset button.btn {
    cursor: pointer;
    padding: 12px;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    float: left;
    margin-top: 6px;
    margin: 0;
    font-family: @font-swatch7-font-family;
    font-size: @font-swatch7-font-size;
    font-weight:@font-swatch7-font-weight;
    background-color: darken(@font-swatch7-background-color,8%);
    color: @font-swatch7-color;
    text-decoration: none;
    
}

.widget.profile fieldset button.btn:hover {
    background-color: darken(@font-swatch7-background-color,13%);
}

/* ===============================
   SLIDESHOW WIDGET
   =============================== */

.widget.responsiveslideshow {
    .slideshow-image-list,
    .slideshow-widget {
        min-height: 450px;
        @media @tablet {
            min-height: 350px;
        }
        @media @mobile {
            min-height: 280px;
            height: 280px;
        }
    }
    .title {
        display: block;
    }
    .content-wrapper {
        background: rgba(0,0,0,0.5);
    }
    .slideshow-widget {
        /* Arrows */
        .btn-prev,
        .btn-next {
            background-color: transparent;
            background-size: contain;
            width: 35px;
            height: 35px;
            font-size: 0;
            z-index: 11;
            text-indent: -99999px;
            @media @tablet {
                width: 40px;
                height: 40px;
            }
            @media @mobile {
                width: 30px;
                height: 30px;
            }
        }
        .btn-prev {
            background-image: image('/images/slideshow-arrow-left.png');
            background-repeat: no-repeat;
            background-position: center;
        }
        .btn-next {
            background-image: image('/images/slideshow-arrow-right.png');
            background-repeat: no-repeat;
            background-position: center;    
        }
        /* Play Button */
        .btn-play {
            background: rgba(0,0,0,0.5);
            top: 41%;
            width: 50px;
            height: 50px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            &:after {
                top: 43%;
                font-size: 20px;
                color: #fff;
                letter-spacing: -2px;
                top: 2px;
                line-height: 47px;
            }
            @media @tablet {
                width: 40px;
                height: 40px;
                &:after {
                    line-height: 38px;
                }
            }
            @media @mobile {
                width: 30px;
                height: 30px;
                &:after {
                    line-height: 28px;
                }
            }
        }
    }
    /* Slideshow Controls */
    .slideshow-widget-controls {
        .dot {
            width: 11px;
            height: 11px;
            &.selected {
                background-color: @color-swatch3;
                width: 11px;
                height: 11px;
            }
        }
    }
}


/* ===============================
   BLOG
   =============================== */

.widget {
    &.bloglistposts {
        .blog-post-item {
            margin: 0 0 30px;
        }
        .blog-post-feature-image-wrap {  /* Blog post feature image */
            background-size: cover;
            max-width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            height: 250px;
            width: 250px;
            margin-bottom: 20px;
            img {
                display: none;
            }
        }
    }
}

.blog-post-item {
    margin: 1.5em 0;
    padding-bottom: 1em;
    h2 {
        a {
            font-family: @font-swatch2-font-family;
            font-size: @font-swatch2-font-size;
            font-weight: @font-swatch2-font-weight;
            line-height: @font-swatch2-line-height;
            color: @font-swatch2-color;
            letter-spacing: @font-swatch2-letter-spacing;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.blog-post-metadata {
    background-color: transparent;
    background-image: none;
    margin-top: 0;
    text-align: left;
}

.blog-list-footer {
    background-color: transparent;
    background-image: none;
}

.blog-post-more-link {
    float: left;
    width: 100%;
}

/* BLOG SEARCH */
.blogsearch {
    form {
        label {
            display: block;
            margin-bottom: .6em;
            font-family: @font-swatch4-font-family;
            font-size: @font-swatch4-font-size;
            font-weight: @font-swatch4-font-weight;
            line-height: @font-swatch4-line-height;
            color: @font-swatch4-color;
            letter-spacing: @font-swatch4-letter-spacing;
        }
        input {
            height: 50px;
            width: 63%;
            position: relative;
            top: -2px;
            background-color: darken(@color-swatch1,5%);
            border: 1px solid darken(@color-swatch1,10%);
            @media @mobile {
                width: 100%;
                margin-bottom: 10px;
            }
        }
        button {
            background-color: @font-swatch7-background-color;
            font-family: @font-swatch7-font-family;
            font-size: @font-swatch7-font-size;
            font-weight: @font-swatch7-font-weight;
            line-height: @font-swatch7-line-height;
            color: @font-swatch7-color;
            letter-spacing: @font-swatch7-letter-spacing;
            padding: 12px 49px;
            margin: 0;
            border: none;
            text-decoration: none;
            &:hover {
                -webkit-transition: background-color 0.15s ease-in-out;
                -moz-transition: background-color 0.15s ease-in-out;
                -o-transition: background-color 0.15s ease-in-out;
                transition: background-color 0.15s ease-in-out;
            }
        }
    }
}


/* ===============================
   MENU
   =============================== */

.widget {
    &.menu {
        margin: 20px 0;
        h4, .menu-item-nutritional-prop {
            font-size: bkscale(@font-swatch5-font-size,0.9);
        }
        .menu-header {
            text-align: center;
        }
        .menu-items {
            li {
                display: block;
                padding: 20px 0;
                .inner-item {
                    display: block;
                    padding: 0;
                    margin: 0;
                }
                &.menu-item-promoted {
                    padding: 30px;
                    border: 1px solid lighten(@color-swatch3,20%);
                }
            }
            .menu-item-image-wrap {
                height: 200px;
                background-size: cover;
                background-position: center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                clear:both;
                background-repeat: no-repeat;
                background-position: center;
                img {
                    display: none;
                }
            }
        }
        .menu-item-price {
            padding: 10px 0;
            p {
                color: @color-swatch1;
                padding: 0;
            }
        }
        .menu-section-item-dietary-props {
            .dietary-icon {
                background-color: @color-swatch3;
                font-size: bkscale(@font-swatch5-font-size,0.7);
                color: @color-swatch1;
                padding: 0px 4px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                border-radius: 50px;
            }
        }
        // Menu Subsection
        .menu-subsection {
            padding: 0;
            margin: 0;
        }
        .wrapper {
            width: 100%;
            margin: 0;
        }
    }
}

/* ===============================
   IPAD WIDTH
   =============================== */

@media only screen and (max-width: 768px) {

 /* DEFAULT PAGE TYPE */

.bk-pt-default .widget.extendednavigation {
  border-bottom: 1px solid lighten(@color-swatch3,25%);
}
 /**/

.canvas { 
  max-width: 1010px;
  margin: 0 auto;
  padding: 0
}

.inner-bg {
  margin: 0 auto;
  border: none;
}

  header.bk-header {
    padding: 0;
    border-bottom: 0;
  }

 .companyheader {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: left;
  }

  .widget.companyname a {
    font-size:bkscale(@font-swatch10-font-size, 0.9);
  }

  /* NAV */

  .widget.extendednavigation {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
  .widget .extendednavigation {
    display: block;
    float: left;
    width: 100%;
    border-top: 1px solid lighten(@color-swatch3,25%);
    li {
        border-bottom: 1px solid lighten(@color-swatch3,25%);
        &:last-child {
            border-bottom: 0;
        }
    }
  }

  /* NAV */

 .widget .extendednavigation ul {
    width: 100%;
    display: none;
    margin: 0;
  }

  .widget.extendednavigation ul li {
    padding: 12px 0;
    border-bottom: 1px solid lighten(@color-swatch3,25%);
    &:last-child {
        border-bottom: 0;
    }
  }

  .widget.extendednavigation ul li a, .widget.extendednavigation ul li.folder .text {
      padding: 5px 0;
      margin: 0;
  }

  .widget.extendednavigation ul li .text, .widget.extendednavigation ul li.folder .text {
      padding-left: 15px;
      background-image: image('/images/arrow-left.png');
      background-position: left center;
      background-repeat: no-repeat;
  }

  .widget.extendednavigation ul li:hover .text {
     background-image: image('/images/arrow-left-hov.png');
  }

    .widget.extendednavigation ul li:hover > ul > li > a .text {
    background-image: image('/images/arrow-left.png');
  }

    .widget.extendednavigation ul li:hover > ul > li:hover > a .text {
    background-image: image('/images/arrow-left-hov.png');
  }

  .widget.extendednavigation ul li:hover > ul {
      display: block!important;
      width: 100%;
      margin: 12px 0;
      padding: 0;
  }

  .widget.extendednavigation li:hover > ul > li > a {
    padding-left: 10px;
  }

}

/* ===============================
   IPHONE WIDTH
   =============================== */

@media only screen and (max-width: 480px) {


 /* COMPANY HEADER */
  .widget.companyname a {
    font-size:bkscale(@font-swatch1-font-size, 0.6);
  }

  .widget.companyname {
    max-width: 210px;
    margin-top: 16px;
  }

  /* CLICK TO CALL */

  .widget.clicktocall {
  padding: 10px 0;
}

.widget.clicktocall a {
  background-image: image('/images/ic-desktop-call.png');
  background-position: 10px;
  background-repeat:no-repeat;
  padding: 12px 12px 12px 38px;
  margin: 2.2em auto;
  border: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-family: @font-swatch7-font-family;
  font-size: @font-swatch7-font-size;
  font-weight:@font-swatch7-font-weight;
  background-color: @font-swatch7-background-color;
  color: @font-swatch7-color;
  text-decoration: none;
  
  cursor: pointer;
}

.widget.clicktocall a:hover {
  text-decoration: none;
  background-color: @font-swatch7-background-color-hover;
  }

  .widget.clicktocall {
    padding: 20px 0;
    display:block;
  }
}



